/* K.A.T. Thiwanka
IT19076362 */
@charset "ISO-8859-1";

.middle .content {
	margin-top: 3rem;
	display: flex;
}

.middle img {
	animation: content-fade 2s ease;
}

.middle .title {
	animation: title-fade 1s ease;
}

.middle h1 {
	margin: 8rem 0 2rem 2rem;
	font-weight: 600;
	text-transform: uppercase;
}

.middle .content .btn {
	margin-left: 2.2rem;
}

.middle .content a {
	color: white;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	background-color: #536dfe;
	text-decoration: none;
	outline: none;
	border: none;
	margin: 0.5rem;
	padding: 0.5rem 2rem;
	border-radius: 0.2rem;
}

.middle .content #custReg {
	
	padding: 0.5rem 1.45rem;
}

.middle .content #supReg {
	padding: 0.5rem 1.8rem;
}

.middle .content a:hover {
	color: #536dfe;
	background-color: white;
	transition: ease 0.7s;
}

.middle img {
	margin-top: -5rem;
	margin-left: 20rem;
	width: 40rem;
}

#adminLogin {
	float: right;
	font-weight: 700;
	margin-right: 4.4rem;
	animation: title-fade 1s ease;
	padding: 0.5rem 1rem;
	color: white;
	background-color: #536dfe;
}

#adminLogin:hover {
   text-decoration: none;
   color: #536dfe;
   background-color: white;
   transition: ease 0.7s;
}